@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

body,
body > article {
    background: #f9f9f9;
}

.dropdown button {
    width: 150px;
    justify-content: space-between;
}

.controls {
    border: solid black 1px;
    padding: 12px;
    font-size: 0.8em;
    display: inline-block;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loading-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.65);
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.datepicker input {
    border: none;
    outline: none;
}

.youtube-video {
    position: relative;
    width: 360px;
}

.youtube-video .iframe-container {
    text-align: center;
}

.youtube-video iframe,
.youtube-video .yt-thumbnail {
    width: 360px;
    height: 202px;
}

.youtube-video .thumbnail {
    text-align: left;
}

.youtube-video .yt-metadata {
    height: 120px;
    text-align: left;
}

.youtube-video .yt-title {
    font-size: 1em;
    color: black;
    font-weight: 600;
}

.youtube-video .tooltip {
    font-size: 0.9em;
    text-decoration: none;
    color: #666;
}

.youtube-video .slant-range {
    height: 12px;
    background: linear-gradient(to right, royalblue, red);
    margin-bottom: 4px;
    position: relative;
    border-radius: 2px;     
}

.youtube-video .slant-range > .slant-range-slider {
    height: 20px;
    width: 2px;
    position: absolute;
    left: 0;
    top: -24px;
    margin-left: -5px;
    color: black;
    display: flex;
}

.top-videos.columns .youtube-video {
    vertical-align: top;
}

.top-videos.columns .column {
    text-align: center;
}

.top-videos.columns .column:not(:last-child) {
    border-right: solid 1px black;
}
